/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

.h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

/* Navbar Styles */
.navbar {
  padding: 20px;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #007bff;
  padding: 20px;
}
.nav-link {
  margin-left: 15px; 
  margin-right: 15px; 
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00; 
}